/* CSS - Name: "positionstyles.css" */

/* Activity 1 styles */

.content1 div {
    float: left;
}
    .red1 { 
    width: 100px; 
    height: 100px; 
    background-color: red; 
    } 
    .green1 {
    width: 100px; 
    height: 100px; 
    background-color: green; 
    } 
    .yellow1 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
    } 
    .blue1 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    } 

     /* Activity 2 styles */ 
    .red2 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
    } 
    .green2 { 
    width: 100px; 
    height: 100px; 
    background-color: green; 
    margin-top: -50px;
    margin-left: 50px;
     } 
    .yellow2 {
    width: 100px; 
    height: 100px; 
    background-color: gold;
    margin-top: -50px;
    margin-left: 100px;
    } 
    .blue2 {
    width: 100px; 
    height: 100px; 
    background-color: blue;
    margin-top: -50px;
    margin-left: 150px;
    } 
     /* Activity 3 styles */ 
    .red3 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
     } 
    .green3 {
    width: 100px; 
    height: 100px; 
    background-color: green;
    float: right;
    position: relative;
        bottom: 100px;
     } 
    .yellow3 {
    width: 100px; 
    height: 100px; 
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
     } 
    .blue3 {
    width: 100px;
    height: 100px; 
    background-color: blue; 
    width: 100%;
     } 


     /* Activity 4 styles */ 
    .red4 {
    width: 100%; 
    height: 100px; 
    background-color: red;\

     } 
    .green4 {
    width: 270px; 
    height: 200px; 
    background-color: green; 
    margin-left: auto;        
    } 
    .yellow4 {
    width: 270px; 
    height: 200px; 
    background-color: gold; 
    margin-top: -200px
     } 
    .blue4 {
    width: 100%; 
    height: 100px; 
    background-color: blue; 
     } 



     /* Activity 5 styles */ 
 .red5 {
    width: 100%; 
    height: 100px; 
    background-color: red;\

     } 
    .green5 {
    width: 270px; 
    height: 100px; 
    background-color: green; 
    margin-left: auto;   
    margin-top: -50px
    } 
    .yellow5 {
    width: 270px; 
    height: 100px; 
    background-color: gold; 
    margin-top: -100px;
    margin-bottom: 10px;
     } 

    .blue5 {
    width: 100%; 
    height: 100px; 
    background-color: blue; 
     } } 

     /* Activity 6 styles */ 
    .red6 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
    } 
    .green6 {
    width: 100px; 
    height: 100px; 
    background-color: green; 
     } 
    .yellow6 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
    } 
    .blue6 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    } 
     .activity {
    width: 600px; 
    margin: 20px auto; 
    font-family: Arial, sans-serif; 
    border: 1px solid black; 
    padding: 10px; 
    clear:both; 
    overflow: auto;
    } 