nav {
            background-color: lightblue;}
        
        #content {
            max-width: 940px;
            width: 90%;
            margin: 0 auto;}
        
        #dry-oar-logo {
            display: border;
            border-width: thick;
            border-color: antiquewhite;
            background-color: white
            }

        nav > ul {
            list-style: none;
            display: flex;
            flex-flow: row wrap;     
            margin-top: -88px;
            line-height: 75px;
            padding-left: 110px;
        }

        nav li {
            flex: 1 1 8em;
            text-align: center;
            
        }

        nav a: link, nav a: visited{
            color: #A50010;
            text-decoration: none;
        }

        nav a {
            display: block;
        }

        nav a:hover {
            color: aliceblue;
            background-color: #A50010;
        }
     
        .fullwidth {
            width: 100%
        }
        
        #section1 {
            background-color: #F6FD40;
            height: auto;}
        
 
        #segment1-img {
            margin: 6px;
        }
        #dry-oar-philosophy-segment {
            margin: 6px;
            float: right;
            width: 70%;
        }
        
        #section2 {
            background-color: darkgray;
            height: auto;
            }
        
        #rapids-img {
            margin: 6px;
            float: right;
            width: 30%;
        }
        
        #title {
            font-size: 350%;}
        
        h1,h2,h3,h4,h5,h6 {
            color: #A50010;
            font-family: forte, serif;
            font-size: auto;}
        
        #nav-list {
            color: white;}
    
        
        #our-invitation-segment {
            text-align: center;}
 
        p {
            font-family: Segoe Print; }