     
        #content {
            max-width: 940px;
            width: 90%;
            margin: 0 auto;}
    
        

        img {
    max-width: 100%;
}
        
        #logo {
            background-color: white;
            width: 110px;
            position: relative;
            margin-left: 10px;
            border: 1px solid #A50010;
            }

        nav {
            background-color: #A5BAEA;
            font-size: 1.1em;
            }
        nav > ul {
            list-style: none;
            display: flex;
            flex-flow: row wrap;     
            margin-top: -88px;
            line-height: 75px;
            padding-left: 110px;
        }

        nav li {
            flex: 1 1 4em;
            text-align: center;
            font-family: 'Sriracha', cursive;
            margin: 1px;
        }

        nav a: link, nav a: visited{
            color: #A50010;
            text-decoration: none;
        }

        nav a {
            display: block;
            color: aliceblue;
        }

        nav a:hover {
            color: aliceblue;
            background-color: #A50010;
        }
     
        .fullwidth {
            width: 100%
        }
        #banner-div {
            margin-top: -20px;
        }
        
#section1, #section2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.riversection {
    padding: 10px;
    height: auto;
    border: .8px solid #A50010;
    margin-top: 10px;
}

.leftcol, .rightcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
}

        
        #section1 {
            background-color: #FAFE8D;
            height: auto;
            border: .5px solid #A50010;}
     
        #section2 {
            background-color: #A5BAEA;
            height: auto;
            border: .5px solid #A50010;}

.river-subtopic {
    display: flex;
    height: 300px;
    margin: 1%;
    width: 31.3%;
    min-width: 200px;
    flex-flow: row wrap;


}

#riverdivs {
    align-items: center;
    background-color: #A5BAEA;
    height: 300px;
    border: .5px solid #A50010;
}
        
        
        #title {
            font-size: 350%;}
        
        h1,h2,h3,h4,h5,h6 {
            color: #A50010;
            font-family: 'Sriracha', cursive;       
            font-size: 2.8vw;}
        
        #nav-list {
            color: white;}
    
        
        #our-invitation-segment {
            text-align: center;}

        .footer {
            text-align: center;
        }

        p {
            font-family: 'Rancho', cursive;
            font-size: 2.5vw}
    
    